---
title: Show page
pagination: 
    data: articles
    size: 1
    alias: article
permalink: /<%=article.id%>/index.html
---


<h1><%=article.author%></h1>
      <h2><%=article.name%></h2>
      <p><%-article.content%></p>
      